.services {
  padding: 1.4em 1em;

  &__title {
    margin-bottom: 16px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;

    &>li {
      margin: 5px;
    }

    & a {
      display: inline-block;
      color: inherit;
      padding: 0.4em 1.4em;
      border: 1px solid currentColor;
      border-radius: 99em;
      text-decoration-color: transparent;
    }
  }

  @include media-min ($lg) {
    &__list {
      & a {
        font-size: 18px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out;

        &:hover {
          color: var(--accent);
          background-color: var(--white);
        }
      }
    }
  }
}
