.testimonials-item {
  padding: 2em 0;
  height: auto;
  min-height: 280px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border: 1px solid var(--black);

    &::after {
      content: '';
      position: absolute;
      top: -20px;
      right: 16px;
      width: 40px;
      height: 40px;
      background-color: var(--white);
      background-image: url("data:image/svg+xml,%3Csvg width='121' height='121' viewBox='0 0 121 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.9375 52.9375V105.875H0V52.1813C0 15.8812 34.0312 11.3438 34.0312 11.3438L38.5687 21.9313C38.5687 21.9313 23.4438 24.2 20.4188 36.3C17.3938 45.375 23.4437 52.9375 23.4437 52.9375H52.9375Z' fill='%23007DC2'/%3E%3Cpath d='M121 52.9375V105.875H68.0625V52.1813C68.0625 15.8812 102.094 11.3438 102.094 11.3438L106.631 21.9313C106.631 21.9313 91.5062 24.2 88.4812 36.3C85.4562 45.375 91.5063 52.9375 91.5063 52.9375H121Z' fill='%23007DC2'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
    }
  }

  &__quote {
    position: relative;
    flex: 1 1 auto;
    padding-left: 16px;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      bottom: 4px;
      width: 3px;
      background-color: var(--cyan);
    }
  }

  &__author {
    font-style: normal;
    font-weight: 300;
    margin-top: 24px;
  }

  @include media-min ($xl) {
    &__wrapper {
      padding: 30px 24px;
      max-width: 920px;

      &::after {
        top: -30px;
        right: 24px;
        width: 60px;
        height: 60px;
        background-size: 45px 45px;
      }
    }

    &__quote {
      font-size: 18px;
    }
  }
}
