.testimonials {
  padding-top: 2em;
  padding-bottom: 2em;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    color: var(--cyan);
    flex-basis: 100%;
  }

  &__pagination {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    justify-content: flex-end;

    & span {
      padding: 0 3px;
    }
  }

  @include media-min ($xl) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
