.contacts {
  & a {
    text-decoration: none;
  }

  &__iconed {
    display: block;
    position: relative;
    padding-left: 30px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--phone {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 88 88' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M75 75c-9 9-20 13-31 13s-23-4-31-13C4 66 0 55 0 44s4-23 13-31C21 4 33 0 44 0s22 4 31 13c9 8 13 20 13 31s-4 22-13 31zM55 54v-1c4-4 8-3 12 1 2 2 3 3 3 4 0 2-1 3-3 4l-1 1c-1-2-2-3-3-4-2-3-5-4-8-5zM24 21l1-1c2-1 3-2 4-2s3 1 4 3c5 4 5 8 2 11l-1 1c-1-3-3-6-5-8s-3-3-5-4zm-5 11c1-3 2-7 4-10 2 1 3 3 5 4 2 2 4 5 5 9h-1c-2 2 0 7 7 13 7 7 12 10 14 7 4 1 7 3 9 5 1 1 3 3 3 5-2 2-5 3-9 4-4-2-8-4-11-7-4-2-7-5-11-8-3-4-6-7-9-11-2-4-4-7-6-11zm52 39c7-8 11-17 11-27s-4-20-11-27C63 10 54 6 44 6s-20 4-27 11S6 34 6 44s4 19 11 27c7 7 17 11 27 11s19-4 27-11z' fill='%23c91493' fill-rule='nonzero'/%3E%3C/svg%3E");
      }
    }

    &--adress {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_18_8)'%3E%3Cpath d='M12.8304 0.577774C15.4135 0.577774 17.6738 1.54645 19.2882 3.1609C20.9027 4.77536 21.8713 7.0356 21.8713 9.94162C21.8713 12.2019 21.2256 15.1079 19.6111 17.691C17.9967 20.597 15.7364 23.503 13.1533 26.0862C12.8304 26.4091 12.5075 26.4091 12.1846 26.0862C9.60148 23.503 7.34125 20.597 5.72679 17.691C4.43523 15.1079 3.46655 12.2019 3.46655 9.94162C3.46655 7.0356 4.43523 4.77536 6.04968 3.1609C7.66414 1.54645 10.2473 0.577774 12.8304 0.577774ZM18.3195 4.45247C16.7051 2.83801 14.7677 2.19223 12.8304 2.19223C10.5702 2.19223 8.63281 2.83801 7.34125 4.45247C5.72679 5.74403 5.08101 7.68138 5.08101 9.94162C5.08101 11.879 5.72679 14.4621 7.01836 17.0452C8.63281 19.6283 10.5702 22.2115 12.8304 24.4717C14.7677 22.2115 16.7051 19.6283 18.3195 17.0452C19.6111 14.4621 20.5798 11.879 20.5798 9.94162C20.5798 7.68138 19.6111 5.74403 18.3195 4.45247ZM12.8304 4.12958C14.4449 4.12958 15.7364 4.77536 16.7051 5.74403C17.6738 6.71271 18.3195 8.32716 18.3195 9.94162C18.3195 11.5561 17.6738 12.8476 16.7051 13.8163C15.7364 14.785 14.122 15.4308 12.8304 15.4308C11.2159 15.4308 9.60148 14.785 8.63281 13.8163C7.66414 12.8476 7.01836 11.5561 7.01836 9.94162C7.01836 8.32716 7.66414 6.71271 8.63281 5.74403C9.60148 4.77536 11.2159 4.12958 12.8304 4.12958ZM15.7364 7.0356C14.7677 6.06692 13.7991 5.74403 12.8304 5.74403C11.5388 5.74403 10.5702 6.06692 9.92438 7.0356C8.9557 7.68138 8.63281 8.65005 8.63281 9.94162C8.63281 10.9103 8.9557 11.879 9.92438 12.8476C10.5702 13.4934 11.5388 14.1392 12.8304 14.1392C13.7991 14.1392 14.7677 13.4934 15.7364 12.8476C16.3822 11.879 17.028 10.9103 17.028 9.94162C17.028 8.65005 16.3822 7.68138 15.7364 7.0356Z' fill='%23C91493'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_18_8'%3E%3Crect width='26' height='26' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    &--shedule {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 88 88' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M44 0c12 0 23 5 31 13s13 19 13 31-5 23-13 31-19 13-31 13-23-5-31-13S0 56 0 44s5-23 13-31S32 0 44 0zm30 40c2 0 4 2 4 4s-2 4-4 4-4-2-4-4 2-4 4-4zm-59 0c2 0 4 2 4 4s-2 4-4 4-4-2-4-4 2-4 4-4zm29 30c2 0 4 2 4 4s-2 4-4 4-4-2-4-4 2-4 4-4zm-3-57c0-1 1-3 3-3s3 2 3 3v28h16c2 0 3 1 3 3s-1 3-3 3H44c-2 0-3-1-3-3V13zm30 4C64 10 54 6 44 6c-11 0-20 4-27 11S6 33 6 44c0 10 4 20 11 27s16 11 27 11c10 0 20-4 27-11s11-17 11-27c0-11-4-20-11-27z' fill='%23c91493' fill-rule='nonzero'/%3E%3C/svg%3E");
      }
    }

    &--vk {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.52582 5H0.900225C0.150042 5 0 5.34686 0 5.72935C0 6.41243 0.890143 9.80036 4.14464 14.2811C6.3143 17.3412 9.37121 19 12.1528 19C13.8218 19 14.0282 18.6315 14.0282 17.9969V15.6842C14.0282 14.9473 14.1864 14.8003 14.715 14.8003C15.1043 14.8003 15.7719 14.9915 17.3296 16.467C19.1099 18.2155 19.4034 19 20.4048 19H23.0304C23.7806 19 24.1556 18.6315 23.9392 17.9044C23.7025 17.1799 22.8526 16.1285 21.7247 14.8822C21.1126 14.1719 20.1948 13.4069 19.9166 13.0243C19.5271 12.5325 19.6384 12.314 19.9166 11.8768L19.9633 11.8117C20.359 11.2595 23.1393 7.34332 23.4493 5.94798C23.6161 5.40153 23.4493 5 22.6553 5H20.0297C19.3621 5 19.0543 5.34686 18.8873 5.72935C18.8873 5.72935 17.5522 8.92605 15.6606 11.0025C15.0487 11.6036 14.7705 11.7948 14.4368 11.7948C14.2698 11.7948 14.0282 11.6036 14.0282 11.0572V5.94798C14.0282 5.29224 13.8345 5 13.278 5H9.15214C8.73495 5 8.48404 5.30435 8.48404 5.59279C8.48404 6.2144 9.42975 6.35776 9.52726 8.10639V11.9041C9.52726 12.7368 9.3741 12.8877 9.04033 12.8877C8.15023 12.8877 5.98507 9.67676 4.70094 6.00261C4.44927 5.28847 4.19687 5 3.52582 5Z' fill='%23c91493'/%3E%3C/svg%3E");
      }
    }
  }

  &__phones {
    display: grid;
    row-gap: 12px;
    justify-items: start;
  }

  &__socials {
    display: grid;
    row-gap: 12px;
    justify-items: start;
  }

  &__rec-btn {
    margin-top: 30px;
  }

  @include media-min ($xl) {
    & a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
