.not-found {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;

  &__cover {
    display: block;
    width: 335px;
    height: 135px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-bottom: 1.5em;
  }

  @include media-min ($md) {
    &__content {
      margin-left: auto;
      margin-right: auto;
      max-width: 730px;
    }

    &__cover {
      width: 470px;
      height: 182px;
      margin-bottom: 40px;
    }
  }

  @include media-min ($xl) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
